@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './partials/variables';

:root {
    --app-height: 100%;
 }

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body {
    height: var(--app-height);
    overflow: hidden;
}

#win {
    position: fixed;
    bottom: 20vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: calc(3vw + 15px);
    text-transform: uppercase;
    font-weight: 700;
    pointer-events: none;
}

#credits {
    position: fixed;
    bottom: 20px;
    z-index: 999;
    color: #aaa;
    font-size: 14px;
    left: 20px;
    pointer-events: none;
}