@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@import './partials/variables';

:root {
    --app-height: 100%;
 }

// * {
//     margin: 0;
//     padding: 0;
//     box-sizing: border-box;
// }

body {
    height: var(--app-height);
    overflow: hidden;
    color: white;
    user-select: none;
}

#win {
    position: fixed;
    bottom: 20vh;
    left: 0;
    width: 100%;
    text-align: center;
    color: white;
    font-size: calc(3vw + 15px);
    text-transform: uppercase;
    font-weight: 700;
    pointer-events: none;
}

#credits {
    position: fixed;
    bottom: 20px;
    z-index: 999;
    color: #aaa;
    font-size: 14px;
    left: 20px;
    pointer-events: none;
}

.indicators {
    width: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: calc(0.7vw + 10px);
    gap: 15px;
}

.indicators > * {
    flex-basis: 0;
    flex-grow: 1;
}

.progress-wrapper {
    flex-grow: 1;
    max-width: 300px;
    position: relative;
    border: 1px solid rgba(255,255,255,0.2);
}

#progress {
    height: 20px;
    width: 0;
    background-color: #DBAAD4;
}

#progress-percentage {
    position: absolute;
    line-height: 20px;
    font-size: 14px;
    font-weight: 700;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
}

#time {
    text-align: right;
}